# Dependencies
node_modules/
/.pnp
.pnp.js
yarn.lock
package-lock.json
bun.lockb

# Testing
/coverage
/.nyc_output

# Next.js
/.next/
/out/
.next/

# Production
/build
/dist

# Environment variables
.env
.env.local
.env.*.local
.env.development.local
.env.test.local
.env.production.local

# IDE
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store
*.sublime-project
*.sublime-workspace

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*

# OS
.DS_Store
Thumbs.db

# Vercel
.vercel

# Misc
*.pem
.cache/
